html {
  font-family: Roboto, sans-serif;
}

.condensed {
  font-family: "Roboto Condensed", sans-serif;
}

.oswald {
  font-family: Oswald, sans-serif;
}

.dark-blue {
  background-color: #5475a8;
}

.dark-bluetxt {
  color: #5475a8;
}

.med-blue {
  background-color: #3892e0;
}

.med-bluetxt {
  color: #3892e0;
}

.light-blue {
  background-color: #ace2ff;
}

.light-bluetxt {
  color: #ace2ff;
}

.light-gray {
  background-color: #f8f8f8;
}

.gray {
  background-color: #ddd;
}

.graytxt {
  color: #ddd;
}

.dark-gray {
  background-color: #656565;
}

.dark-graytxt {
  color: #656565;
}

.green {
  background-color: #7fdec5;
}

.greentxt {
  color: #7fdec5;
}

.white {
  background-color: #fff;
}

.whitetxt {
  color: #fff;
}

.btn-green {
  background-color: #7fdec5;
  color: #5475a8;
  border: 4px solid #7fdec5;
  border-radius: 4px;
  padding: .375em 1em .42em;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

.btn-dark-blue {
  background-color: #5475a8;
  border: 4px solid #5475a8;
  color: #7fdec5;
  border-radius: 4px;
  padding: .375em 1em .42em;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

.btn-light-blue {
  background-color: #ace2ff;
  color: #3892e0;
  border: 4px solid #ace2ff;
  border-radius: 4px;
  padding: .375em 1em .42em;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

.btn-med-blue {
  background-color: #3892e0;
  color: #ace2ff;
  border: 4px solid #3892e0;
  border-radius: 4px;
  padding: .375em 1em .42em;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

.btn-p-blue {
  background-color: #3892e0;
  color: #7fdec5;
  border: 4px solid #3892e0;
  border-radius: 4px;
  padding: .375em 1em .42em;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

.btn-p-green {
  background-color: #7fdec5;
  color: #3892e0;
  border: 4px solid #7fdec5;
  border-radius: 4px;
  padding: .375em 1em .42em;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

.btn-p-2-blue {
  background-color: #3892e0;
  color: #7fdec5;
  border: 4px solid #3892e0;
  border-radius: 4px;
  padding: .375em .75em .42em;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

.btn-p-2-green {
  background-color: #7fdec5;
  color: #3892e0;
  border: 4px solid #7fdec5;
  border-radius: 4px;
  padding: .375em .75em .42em;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

.btn-gray {
  background-color: #ddd;
  color: #5475a8;
  border: 4px solid #ddd;
  border-radius: 4px;
  padding: .375em .75em .42em;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

.icon-main {
  padding: 1.5em;
}

.pad-l-1-2 {
  padding-left: .5em;
}

.pad-r-1-2 {
  padding-right: .5em;
}

.pad-l {
  padding-left: 1em;
}

.pad-r {
  padding-right: 1em;
}

.pad-l-2 {
  padding-left: 2em;
}

.pad-r-2 {
  padding-right: 2em;
}

nav li {
  width: 48%;
}

nav a:hover {
  color: #3892e0;
}

h1:hover {
  color: #3892e0;
}

.nav {
  display: none;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: block;
  width: 40px;
}

.nav-label img {
  display: block;
  width: 100%;
}
